.column {
float: left;
text-align: center;
width: 20%;
padding: 30px;
}
.navigation {
  float: left;
  text-align: center;
  width: 30%;
  padding-left: 20px;
  padding-top: 100px;
}

h1 {
  font-family: courier;
  font-size: 80px;
  text-align: center;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  margin-top: 400px;
  text-align: center;
}
.fan {
  animation: rotate 1s infinite;
}
@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
svg {
  display: none;
  animation: rotate 1s infinite;

}
